@import url(http://fonts.googleapis.com/css?family=Raleway:700,400)
@import url(http://fonts.googleapis.com/css?family=Lato:400,700)
@import "normalize.styl"
@import "fonts.styl"
@import "nib"
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body
  //background #b4bad2
  color #fffce1
  font-weight 400
  font-size 62.5%
  font-family 'Raleway', Arial, sans-serif

.innerWrapper
  max-width 100%
  overflow hidden
  position relative

a
  color #4e4a46
  text-decoration none
  outline none

.inner-top
  position fixed
  z-index 999
  top 0
  width 100%
  height 80px
  background-color rgba(198, 202, 216, 0.2)
  box-shadow 0 5px 1px rgba(0, 0, 0, 0.2)

.logo
  background url(../img/m2.png) no-repeat
  text-indent -99999px
  float left
  width 80px
  height 174px
  position absolute
  margin -4px 16px 10px 30px
  -webkit-transition transform 0.2s ease
  -moz-transition transform 0.2s ease
  transition transform 0.2s ease
  opacity .7
  a
    display block
    height 170px
    text-indent 100%
    white-space nowrap
    overflow hidden

.menu-button
  position fixed
  z-index 1000
  margin 1em
  padding 0
  width 2.5em
  height 2.25em
  border none
  text-indent 2.5em
  font-size 1.77em
  color transparent
  background #fff
  right 0px
  top 0px
  &::before
    position absolute
    top 0.5em
    right 0.5em
    bottom 0.5em
    left 0.5em
    background linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%)
    content ' '
  &:hover
    opacity 0.6

.close-button
  width 2.5em
  height 2.5em
  position absolute
  right 2.5em
  top 2em
  overflow hidden
  text-indent 1em
  border none
  background transparent
  color transparent
  &::before
    -webkit-transform rotate(45deg)
    transform rotate(45deg)
  &::after
    -webkit-transform rotate(-45deg)
    transform rotate(-45deg)

.close-button::before,
.close-button::after
  content ''
  position absolute
  width 2px
  height 100%
  top 0
  left 50%
  background #C94E50

.menu-wrap
  position absolute
  z-index 1001
  width 100%
  height 315px
  background #EFEFEF
  color #373a47
  padding 1.5em
  -webkit-transform translate3d(-320px,-320px,0)
  transform translate3d(-320px,-320px,0)
  -webkit-transition -webkit-transform 0.3s
  transition transform 0.3s

.profile
  display inline-block
  line-height 80px
  margin-bottom 1em
  font-weight 700
  font-size 1.3em
  img
    width 80px
    height 80px
    float left
    border-radius 50%
    margin-right 10px
    margin-left 10px
    background url(../img/Mike80.jpg) no-repeat

.icon-list
  a
    display block
    color #2A4D83
    font-weight 700
    padding 1.1em 5em
    font-size 0.9rem
    background rgb(223, 228, 226)
    border-bottom 1px solid rgba(189, 186, 186, 0.2)
    &:hover
     color #c94e50
    &:focus
      color #c94e50
    i
      color #8DCBBC
      font-size 1.5rem
    span
      margin-left 10px
      font-family 'Raleway', Arial, sans-serif

.show-menu
  .menu-wrap
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)

.content-top
  margin 0
  width 100%

.content-header
  background-color #191919
  position relative

.content-image
  max-height 400px
  height auto
  margin 0
  overflow hidden
  opacity .8
  img
    height auto
    min-height 100%
    width 100%


@media only screen and (min-width: 49.37em)
        body
          background-color brown


@media only screen and (min-width:  62.5em)
        body
          background-color yellow

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi)
    /* Style adjustments for high resolution devices */

@media print
    *
        background transparent !important
        color #000 !important /* Black prints faster: h5bp.com/s */
        box-shadow none !important
        text-shadow none !important