.has-padding {
  padding: 125px 0; }

.has-padding-tall {
  padding: 160px 0; }

.alternate-bg {
  background-color: #f4f6f9; }

.footer-bg {
  background-color: #414a52; }

.is-centered {
  text-align: center; }
